html, body {
    height: 100%;
    width: 100%;
    
}

body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}

.tienda {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.carrito {
    flex: 1;
    visibility: hidden;
    width: 20%;
    background-color: #333;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow-y: visible; /* Cambia "auto" a "visible" */
    scrollbar-width: thin;
    scrollbar-color: yellow 3;
    height: 100%;
}


/* Resto del CSS permanece igual */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: crimson;
}

.column {
    flex: 1;
    margin: 0 10px;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    overflow: auto;
    height: fit-content;
    max-height: 1000px;
}

h2 {
    text-align: center;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
#cart {
    background-color: crimson;
}
.producto {
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: #f4f4f4;
}

.nombre {
    font-weight: bold;
    color: crimson;
}

.precio, .cantidad {
    font-weight: bold;
}

#carrito2 {
    margin: 20px;

}
.finCompra {
    /* Tu código existente aquí... */
    margin: 10px auto; /* Agrega margen y establece el margen horizontal a "auto" para centrar horizontalmente */
}