html, body {
    height: 100%;
    width: 100%;
    
}

body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}

.tienda {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carrito {
    /*hace fijo el carrito y lo pone a la derecha*/

    position: fixed;
    right: 0;
    flex: 1;
    visibility: hidden;
    width: 15%;
    /*separa de la derecha el carrito*/
    margin-right: 2.5%;
    height: 100%;
    background-color: #333;
}


/* Resto del CSS permanece igual */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: crimson;
}

.column {
    flex: 1;
    margin: 0 10px;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    overflow: auto;
    height: fit-content;
    max-height: 1000px;
}

h2 {
    text-align: center;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
#cart {
    background-color: crimson;
}
.producto {
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: #f4f4f4;
}

.nombre {
    font-weight: bold;
    color: crimson;
}

.precio, .cantidad {
    font-weight: bold;
}

#productosEnCarrito {
    margin: 20px;
    height: 60%;
    /*añade un scroll que esta siempre visible*/
    overflow-y: scroll;
    
}
#fincompradiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.finCompra{
    background-color: crimson;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}